{% extends 'base.html.twig' %}

{% block body %}
    <div class="container mx-auto px-16 mt-4">
        <div class="block p-6 bg-white border border-gray-200 rounded-lg shadow-xs dark:bg-gray-800 dark:border-gray-700">
            <h3 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Ajouter des fichiers dans /{{ path }}</h3>
            {{ form_start(form) }}
            {{ form_row(form.files) }}
            <div class="flex gap-2">
                {{ form_widget(form.submit) }}
                <a href="{{ path('app_files_index', {
                    path: path,
                }) }}" class="py-2.5 px-5 me-2 mb-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">Retour à la liste</a>
            </div>
            {{ form_end(form) }}
        </div>

        <div id="televersing" data-modal-backdrop="static" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
            <div class="relative p-4 w-full max-w-2xl max-h-full">
                <!-- Modal content -->
                <div class="relative bg-white rounded-lg shadow-sm dark:bg-gray-700">
                    <!-- Modal header -->
                    <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600 border-gray-200">
                        <h3 class="text-xl font-semibold text-gray-900 dark:text-white">
                            Vos fichiers sont entre de bonnes mains
                        </h3>
                    </div>
                    <!-- Modal body -->
                    <div class="p-4 md:p-5 space-y-4">
                        <p class="text-base leading-relaxed text-gray-500 dark:text-gray-400">
                            Téléversement en cours...
                        </p>
                        <div class="flex items-center justify-center">
                            <img src="{{ asset('images/logo.png') }}" alt="Mascottte Camélia Studio">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block title %}
    Ajouter des fichiers
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script>
        document.addEventListener('readystatechange', () => {
            if (document.readyState === "complete") {
                const form = document.querySelector("form")
                const submitButton = form.querySelector("button[type='submit']");
                const modal = document.getElementById('televersing');
                let modalInstance = null;
                if (modal) {
                    modalInstance = new Modal(modal, {
                        backdrop: 'static',
                        backdropClasses: 'bg-gray-900/50 dark:bg-gray-900/80 fixed inset-0 z-30',
                        closable: false
                    })
                }
                if (form) {
                    form.addEventListener('submit', () => {
                        if (submitButton) {
                            submitButton.disabled = true;
                        }

                        if (modalInstance) {
                            modalInstance.show();
                        }
                    })
                }
            }
        })
    </script>
{% endblock %}