<div{{ attributes }}>
    {% if this.parentDir == null or (this.parentDir != null and is_granted('file_write', this.parentDir)) %}
        <div class="flex flex-col lg:flex-row lg:justify-end gap-2">
            <a href="{{ path('app_files_create_directory', {
                base: path
            }) }}" class="inline-flex items-center justify-center px-4 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 transition-colors w-full lg:w-auto">
                <twig:ux:icon name="fa6-solid:folder-plus" class="w-4 h-4 mr-2" />
                Créer un dossier
            </a>
            {% if path != '' %}
                <a href="{{ path('app_files_upload', {
                    path: path
                }) }}" class="inline-flex items-center justify-center px-4 py-2.5 text-sm font-medium text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 rounded-lg dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800 transition-colors w-full lg:w-auto">
                    <twig:ux:icon name="fa6-solid:upload" class="w-4 h-4 mr-2" />
                    Ajouter des fichiers
                </a>
            {% endif %}
        </div>
    {% endif %}
    <div class="mt-4">
        {% include 'partials/breadbrumb.html.twig' %}
    </div>



    {# Desktop Table View #}
    <div class="hidden lg:block relative overflow-x-auto mt-4">
        <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
            <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Nom
                </th>
                <th scope="col" class="px-6 py-3">
                    Taille
                </th>
                <th scope="col" class="px-6 py-3">
                    Dernière modification
                </th>
                <th scope="col" class="px-6 py-3">
                    Groupes d'accès
                </th>
                <th scope="col" class="px-6 py-3">
                    Actions
                </th>
            </tr>
            </thead>
            <tbody>
            {% for file in this.files %}
                <tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 group">
                    {% if file.type == 'file' %}
                        <td class="px-6 py-4 font-medium light:text-gray-900 whitespace-nowrap cursor-pointer">
                            <a  href="{{ file.previewUrl }}" target="_blank" class="flex gap-2 items-center w-full h-full duration-300 group-[:hover:not(:has(.links-total:hover))]:text-blue-900  dark:group-[:hover:not(:has(.links-total:hover))]:text-blue-700">
                                {% if file.type == 'file' %}
                                    <twig:ux:icon name="{{ getIcons(file.path|basename) }}" class="w-6 h-6" />
                                {% else %}
                                    <twig:ux:icon name="line-md:folder-filled" class="w-6 h-6" />
                                {% endif %}
                                {{ file.path|basename }}
                            </a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ file.previewUrl }}" target="_blank" class="w-full h-full block">{{ file.size|show_size }}</a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ file.previewUrl }}" target="_blank" class="w-full h-full block">{{ file.last_modified|time_diff }}</a>
                        </td>
                        <td class="px-6 py-4">
                            <a href="{{ file.previewUrl }}" target="_blank" class="w-full h-full block">
                                {% if this.parentDir == null %}
                                    {% set parentDirectory = get_parent_dir(file.path) %}
                                {% else %}
                                    {% set parentDirectory = this.parentDir %}
                                {% endif %}
                                {% if parentDirectory.public %}
                                    <div class="flex gap-1">
                                        {% for parentRole in getHigherRoles(parentDirectory.ownerRole) %}
                                            <img class="w-6 h-6" title="{{ parentRole.name }}" src="{{ parentRole.image ?? ('https://ui-avatars.com/api/?name=' ~ parentRole.name) }}" alt="">
                                        {% endfor %}
                                        {% if parentDirectory.ownerRole is not null %}
                                            <img class="w-6 h-6" title="{{ parentDirectory.ownerRole.name }}" src="{{ parentDirectory.ownerRole.image ?? ('https://ui-avatars.com/api/?name=' ~ parentDirectory.ownerRole.name) }}" alt="">
                                        {% endif %}
                                        {% for permission in parentDirectory.parentDirectoryPermissions %}
                                            <img class="w-6 h-6" title="{{ permission.role.name }}" src="{{ parentDirectory.ownerRole.image ?? ('https://ui-avatars.com/api/?name=' ~ permission.role.name) }}" alt="">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p>Dossier privé</p>
                                {% endif %}
                            </a>
                        </td>
                    {% else %}
                        <td class="px-6 py-4 font-medium light:text-gray-900 whitespace-nowrap cursor-pointer">
                            <button
                                    type="button"
                                    data-model="path"
                                    data-value="{{ file.path }}"
                                    data-action="live#update"
                                    class="flex gap-2 items-center w-full h-full duration-300 group-[:hover:not(:has(.links-total:hover))]:text-blue-900  dark:group-[:hover:not(:has(.links-total:hover))]:text-blue-700 cursor-pointer">
                                <twig:ux:icon name="line-md:folder-filled" class="w-6 h-6" />
                                {{ file.path|basename }}
                            </button>
                        </td>
                        <td class="px-6 py-4">
                            <button type="button"
                                    data-model="path"
                                    data-value="{{ file.path }}"
                                    data-action="live#update" class="text-left h-full w-full cursor-pointer">{{ file.size|show_size }}</button>
                        </td>
                        <td class="px-6 py-4">
                            <button type="button"
                               data-model="path"
                               data-value="{{ file.path }}"
                               data-action="live#update" class="text-left h-full w-full cursor-pointer">{{ file.last_modified|time_diff }}</button>
                        </td>
                        <td class="px-6 py-4">
                            <button type="button"
                               data-model="path"
                               data-value="{{ file.path }}"
                               data-action="live#update" class="text-left h-full w-full cursor-pointer">
                                {% if this.parentDir == null %}
                                    {% set parentDirectory = get_parent_dir(file.path) %}
                                {% else %}
                                    {% set parentDirectory = this.parentDir %}
                                {% endif %}
                                {% if parentDirectory.public %}
                                    <div class="flex gap-1">
                                        {% for parentRole in getHigherRoles(parentDirectory.ownerRole) %}
                                            <img class="w-6 h-6" title="{{ parentRole.name }}" src="{{ parentRole.image ?? ('https://ui-avatars.com/api/?name=' ~ parentRole.name) }}" alt="">
                                        {% endfor %}
                                        {% if parentDirectory.ownerRole is not null %}
                                            <img class="w-6 h-6" title="{{ parentDirectory.ownerRole.name }}" src="{{ parentDirectory.ownerRole.image ?? ('https://ui-avatars.com/api/?name=' ~ parentDirectory.ownerRole.name) }}" alt="">
                                        {% endif %}
                                        {% for permission in parentDirectory.parentDirectoryPermissions %}
                                            <img class="w-6 h-6" title="{{ permission.role.name }}" src="{{ parentDirectory.ownerRole.image ?? ('https://ui-avatars.com/api/?name=' ~ permission.role.name) }}" alt="">
                                        {% endfor %}
                                    </div>
                                {% else %}
                                    <p>Dossier privé</p>
                                {% endif %}
                            </button>
                        </td>
                    {% endif %}
                    <td class="px-6 py-4 flex gap-2 light:text-black links-total">
                        {% if file.type == 'file' %}
                            <a title="Permet de voir le fichier" href="{{ file.previewUrl }}" class="hover:text-blue-700 duration-300"><twig:ux:icon class="w-6 h-6" name="fa6-solid:eye" /></a>
                            <button title="Permet de copier le lien de prévisualisation du fichier" onclick="navigator.clipboard.writeText('{{ file.previewUrl }}'); alert('Lien copié avec succès !')"  class="hover:text-blue-700 duration-300"><twig:ux:icon class="w-6 h-6 cursor-pointer" name="fa6-solid:clipboard" /></button>
                            <a title="Permet de télécharger le fichier" href="{{ file.url }}" class="hover:text-blue-700 duration-300"><twig:ux:icon class="w-6 h-6" name="fa6-solid:download" /></a>
                            {% if is_granted('file_write', parentDirectory) %}
                                <a title="Permet de renommer le fichier" href="{{ path('app_files_rename', {
                                    path: file.path
                                }) }}" class="hover:text-blue-700 duration-300"><twig:ux:icon class="w-6 h-6" name="fa6-solid:pencil" /></a>
                                <a title="Permet de déplacer le fichier" href="{{ path('app_files_move', {
                                    path: file.path
                                }) }}" class="hover:text-blue-700 duration-300"><twig:ux:icon class="w-6 h-6" name="mdi:file-move" /></a>
                                <a title="Permet de supprimer le fichier" onclick="event.preventDefault(); if (confirm('Veux-tu vraiment supprimer ce fichier ?')) {
                                    // On redirige vers la page de suppression
                                    window.location.href = this.href
                                }" href="{{
                                path('app_files_delete', {
                                    filename: file.path
                                })
                                }}" class="hover:text-red-700 duration-300"><twig:ux:icon class="w-6 h-6" name="fa6-solid:trash-can" /></a>
                            {% endif %}
                        {% else %}
                            {% if this.parentDir == null %}
                                {% set parentDirectory = get_parent_dir(file.path) %}
                            {% else %}
                                {% set parentDirectory = this.parentDir %}
                            {% endif %}

                            {% if this.parentDir == null and (parentDirectory.userCreated == app.user or (parentDirectory.isPublic and app.user.accessGroup == getHighestRole())) %}
                                <a href="{{ path('app_files_file_edit_permission', {
                                    parentDir: parentDirectory.name,
                                }) }}" class="hover:text-yellow-400 duration-300" title="Permet de modifier les permissions du dossier"><twig:ux:icon class="w-6 h-6" name="fa6-solid:shield" /></a>
                            {% endif %}
                            {% if is_granted('file_write', parentDirectory) %}
                                <a href="{{ path('app_files_rename-directory', {
                                    path: file.path
                                }) }}" class="hover:text-blue-700 duration-300" title="Permet de renommer le dossier"><twig:ux:icon class="w-6 h-6" name="fa6-solid:pencil" /></a>
                                <a title="Permet de déplacer le dossier" href="{{ path('app_files_move', {
                                    path: file.path
                                }) }}" class="hover:text-blue-700 duration-300"><twig:ux:icon class="w-6 h-6" name="mdi:folder-move" /></a>
                                <a href="{{ path('app_files_delete_directory', {
                                    path: file.path
                                }) }}" class="hover:text-red-700 duration-300" title="Permet de supprimer le dossier" onclick="event.preventDefault(); if (confirm('Veux-tu vraiment supprimer ce dossier ?')) {
                                    // On redirige vers la page de suppression
                                    window.location.href = this.href
                                }"><twig:ux:icon class="w-6 h-6" name="fa6-solid:trash-can" /></a>
                            {% endif %}
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

    {# Mobile Card View #}
    <div class="lg:hidden mt-4 space-y-3">
        {% for file in this.files %}
            {% if this.parentDir == null %}
                {% set parentDirectory = get_parent_dir(file.path) %}
            {% else %}
                {% set parentDirectory = this.parentDir %}
            {% endif %}
            
            <div class="bg-white border border-gray-200 rounded-lg p-4 dark:bg-gray-800 dark:border-gray-700">
                {# File Header #}
                <div class="flex items-center gap-3 mb-3">
                    {% if file.type == 'file' %}
                        <twig:ux:icon name="{{ getIcons(file.path|basename) }}" class="w-8 h-8 flex-shrink-0" />
                        <div class="flex-1 min-w-0">
                            <h3 class="font-medium text-gray-900 dark:text-white truncate">{{ file.path|basename }}</h3>
                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ file.size|show_size }} • {{ file.last_modified|time_diff }}</p>
                        </div>
                    {% else %}
                        <twig:ux:icon name="line-md:folder-filled" class="w-8 h-8 flex-shrink-0" />
                        <div class="flex-1 min-w-0">
                            <button
                                type="button"
                                data-model="path"
                                data-value="{{ file.path }}"
                                data-action="live#update"
                                class="font-medium text-gray-900 dark:text-white truncate text-left w-full">
                                {{ file.path|basename }}
                            </button>
                            <p class="text-sm text-gray-500 dark:text-gray-400">{{ file.size|show_size }} • {{ file.last_modified|time_diff }}</p>
                        </div>
                    {% endif %}
                </div>

                {# Access Groups #}
                <div class="mb-3">
                    <p class="text-xs text-gray-500 dark:text-gray-400 mb-1">Groupes d'accès:</p>
                    {% if parentDirectory.public %}
                        <div class="flex gap-1 flex-wrap">
                            {% for parentRole in getHigherRoles(parentDirectory.ownerRole) %}
                                <img class="w-6 h-6 rounded-full" title="{{ parentRole.name }}" src="{{ parentRole.image ?? ('https://ui-avatars.com/api/?name=' ~ parentRole.name) }}" alt="">
                            {% endfor %}
                            {% if parentDirectory.ownerRole is not null %}
                                <img class="w-6 h-6 rounded-full" title="{{ parentDirectory.ownerRole.name }}" src="{{ parentDirectory.ownerRole.image ?? ('https://ui-avatars.com/api/?name=' ~ parentDirectory.ownerRole.name) }}" alt="">
                            {% endif %}
                            {% for permission in parentDirectory.parentDirectoryPermissions %}
                                <img class="w-6 h-6 rounded-full" title="{{ permission.role.name }}" src="{{ parentDirectory.ownerRole.image ?? ('https://ui-avatars.com/api/?name=' ~ permission.role.name) }}" alt="">
                            {% endfor %}
                        </div>
                    {% else %}
                        <span class="text-sm text-gray-600 dark:text-gray-300">Dossier privé</span>
                    {% endif %}
                </div>

                {# Actions #}
                <div class="flex gap-2 justify-end flex-wrap">
                    {% if file.type == 'file' %}
                        <a title="Voir" href="{{ file.previewUrl }}" target="_blank" class="p-2 text-gray-600 hover:text-blue-700 hover:bg-blue-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-blue-500 dark:hover:bg-blue-900/20">
                            <twig:ux:icon class="w-5 h-5" name="fa6-solid:eye" />
                        </a>
                        <button title="Copier lien" onclick="navigator.clipboard.writeText('{{ file.previewUrl }}'); alert('Lien copié !')" class="p-2 text-gray-600 hover:text-blue-700 hover:bg-blue-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-blue-500 dark:hover:bg-blue-900/20">
                            <twig:ux:icon class="w-5 h-5" name="fa6-solid:clipboard" />
                        </button>
                        <a title="Télécharger" href="{{ file.url }}" class="p-2 text-gray-600 hover:text-blue-700 hover:bg-blue-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-blue-500 dark:hover:bg-blue-900/20">
                            <twig:ux:icon class="w-5 h-5" name="fa6-solid:download" />
                        </a>
                        {% if is_granted('file_write', parentDirectory) %}
                            <a title="Renommer" href="{{ path('app_files_rename', { path: file.path }) }}" class="p-2 text-gray-600 hover:text-blue-700 hover:bg-blue-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-blue-500 dark:hover:bg-blue-900/20">
                                <twig:ux:icon class="w-5 h-5" name="fa6-solid:pencil" />
                            </a>
                            <a title="Déplacer" href="{{ path('app_files_move', { path: file.path }) }}" class="p-2 text-gray-600 hover:text-blue-700 hover:bg-blue-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-blue-500 dark:hover:bg-blue-900/20">
                                <twig:ux:icon class="w-5 h-5" name="mdi:file-move" />
                            </a>
                            <a title="Supprimer" onclick="event.preventDefault(); if (confirm('Supprimer ce fichier ?')) { window.location.href = this.href }" href="{{ path('app_files_delete', { filename: file.path }) }}" class="p-2 text-gray-600 hover:text-red-700 hover:bg-red-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-red-500 dark:hover:bg-red-900/20">
                                <twig:ux:icon class="w-5 h-5" name="fa6-solid:trash-can" />
                            </a>
                        {% endif %}
                    {% else %}
                        {% if this.parentDir == null and (parentDirectory.userCreated == app.user or (parentDirectory.isPublic and app.user.accessGroup == getHighestRole())) %}
                            <a href="{{ path('app_files_file_edit_permission', { parentDir: parentDirectory.name }) }}" class="p-2 text-gray-600 hover:text-yellow-600 hover:bg-yellow-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-yellow-500 dark:hover:bg-yellow-900/20" title="Permissions">
                                <twig:ux:icon class="w-5 h-5" name="fa6-solid:shield" />
                            </a>
                        {% endif %}
                        {% if is_granted('file_write', parentDirectory) %}
                            <a href="{{ path('app_files_rename-directory', { path: file.path }) }}" class="p-2 text-gray-600 hover:text-blue-700 hover:bg-blue-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-blue-500 dark:hover:bg-blue-900/20" title="Renommer">
                                <twig:ux:icon class="w-5 h-5" name="fa6-solid:pencil" />
                            </a>
                            <a title="Déplacer" href="{{ path('app_files_move', { path: file.path }) }}" class="p-2 text-gray-600 hover:text-blue-700 hover:bg-blue-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-blue-500 dark:hover:bg-blue-900/20">
                                <twig:ux:icon class="w-5 h-5" name="mdi:folder-move" />
                            </a>
                            <a href="{{ path('app_files_delete_directory', { path: file.path }) }}" class="p-2 text-gray-600 hover:text-red-700 hover:bg-red-50 rounded-lg duration-300 dark:text-gray-400 dark:hover:text-red-500 dark:hover:bg-red-900/20" title="Supprimer" onclick="event.preventDefault(); if (confirm('Supprimer ce dossier ?')) { window.location.href = this.href }">
                                <twig:ux:icon class="w-5 h-5" name="fa6-solid:trash-can" />
                            </a>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
        {% endfor %}
    </div>
</div>
